# Xcode
#
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# User settings
#
xcuserdata/

# Other
#
*.moved-aside
*.xcuserdatad
*.xcscmblueprint
.idea/

# Swift Package Manager
#
.build/
Packages/
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcodeproj/xcuserdata/
